<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>

<body>

    <h1>Guess The Word</h1>

    <h2>Admin Dashboard</h2>

    <p>Welcome, {{ session["username"] }}!</p>

    <p>Role: {{ session["role"] }}</p>

    <h3>Reports</h3>

<ul>

    <li>
        <a href="{{ url_for('admin.daily_report') }}">
            Daily Report
        </a>
    </li>

    <li>
        <a href="{{ url_for('admin.user_report') }}">
            User Report
        </a>
    </li>

</ul>

    <p>
        Daily Report will be available here.
    </p>

    <p>
        User Report will be available here.
    </p>

    <p>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </p>

</body>
</html>